.headerContainer {
  background: #ffff;
  .left {
    width: 20%;
    background: #edf2f7;
    border-radius: 8px;
    transition: 0.2s ease all;

    input {
      width: 80%;
      height: 80%;
      background: transparent;
      position: relative;
      transition: 0.05s ease border;
      &:focus {
        border: none !important;
        outline: none;
        border-bottom: 2px solid rgb(108, 17, 184) !important;
      }
    }
  }
  .right {
    .helperIcons {
      svg {
        font : {
          size: 1.5rem;
        }
        color: #667eea;
      }
    }
  }
}
