.raidioButtonContainer {
  margin-top: 0.6rem;
  p {
    cursor: pointer;
  }
  span {
    background-color: #fff;
    border-radius: 50%;
    transition: 0.2s ease all;
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      width: 50%;
      height: 50%;
      position: absolute;
      z-index: 6;
      background-color: #fff;
      top: calc(50% - 25%);
      left: calc(50% - 25%);
      border-radius: 50%;
    }
  }
  span.selected {
    background-color: #667eea;
  }
}
