.checkBox {
  width: max-content;
  height: 4vh;
  input {
    background-color: red;
    width: 1.4rem;
    height: 1.4rem;
    transition: 0.2s ease all;
    accent-color: #fff;
    &:hover {
      transform: scale(1.1);
    }
    &:checked {
      transition: 0.2s ease all;
      accent-color: #667eea;
      transform: scale(1.2);
    }
  }
}
